<section>
  <h1>{{ "wishlist.title" | translate }}</h1>

  <div class="main-sec p-4">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr class="text-center md:text-lg text-base  text-violet-900">
          <th scope="col" class="px-4 py-3 md:px-16">{{ 'wishlist.image' | translate }} </th>
          <th scope="col" class="px-4 py-3 md:px-6">{{ 'wishlist.product' | translate }}</th>
          <th scope="col" class="px-4 py-3 md:px-6">{{ 'wishlist.Price' | translate }}</th>
          <th scope="col" class="px-4 py-3 md:px-12">{{ 'wishlist.Action' | translate }}</th>
        </tr>
      </thead>
      <tbody class="text-center">
        @for (wish of wishLists; track wish._id) {
        <tr
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
        >
          <td class="px-4 m-auto py-4 md:px-16">
            <img
              [src]="wish.imageCover"
              class="w-16 md:w-32 max-w-full max-h-full"
              [alt]="wish.title"
            />
          </td>
          <td
            class="px-4 py-4 md:px-6 text-center font-semibold text-gray-900 dark:text-white"
          >
            {{ wish.title }}
          </td>
          <td
            class="px-4 py-4 md:px-6 font-semibold text-gray-900 dark:text-white"
          >
            {{ wish.price | currency : "GBP" }}
          </td>
          <td
            class="px-4 py-4 md:px-12 font-semibold text-gray-900 dark:text-white"
          >
            <button (click)="RemoveWishListItem(wish.id)" class="wish-btns">
              Remove
            </button>
            <button (click)="addToCart(wish.id)" class="wish-btns">
              Add to cart
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
