<section class="w-2/3 mx-auto">
    <h1 class="font-medium text-violet-900 text-center text-3xl capitalize">
      {{'forgetPassword.ForgetPassword'|translate }}
    </h1>
    @if (steps==1) {
      <form id="emails"
        [formGroup]="vertifyEmail"
        class="mx-auto flex w-2/3 flex-col pt-3 justify-center my-10 shadow-md border bg-slate-50 rounded-2xl"
      (ngSubmit)="vertifyEmailSumit()"
        >
  
        <!-- email field -->
        <div class="rounded-md px-5 py-4">
          @let email = vertifyEmail.get('email');
          <label for="email" class="mb-2 capitalize text-lg font-medium text-black"
            >    {{'forgetPassword.email'|translate }}</label
          >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="border-b-2 shadow-sm shadow-violet-300 text-violet-950 font-medium placeholder-opacity-50 placeholder-violet-950 text-sm rounded-lg w-full p-2.5"
            placeholder=" {{'forgetPassword.emailPlaceholder'|translate }}"
          />
    
          @if (email?.errors && email?.touched) {
          <div
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
            role="alert"
          >
            <svg
              class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
              />
            </svg>
            <span class="sr-only">Danger</span>
            <div>
              <ul class="mt-1.5  lineSpaces list-disc list-inside">
                @if (email?.getError("required")) {
                <li class="text-sm lineSpaces">{{'errors.email1'|translate }}</li>
                } @else if (email?.getError("email")) {
                <li class=" text-sm lineSpaces">{{'errors.email2'|translate }}</li>
                }
              </ul>
            </div>
          </div>
          }
        </div>
    
        <div class="flex justify-end items-center my-auto gap-4 ">
          <button
          
            type="submit"
            class="bg-violet-700 rounded-full px-5 py-3 mb-6 m-auto font-medium text-center text-white"
          >
      
      
          @if (isLoading) {
            <i class="  fas fa-spin fa-spinner"></i>
          }
          
          {{'forgetPassword.sendBtn'|translate }}
          </button>
  
        </div>
      </form>
    }
    @else if (steps ==2) {
       <form id="codes"
       [formGroup]="vertifyCode"
       class="mx-auto flex w-2/3 flex-col pt-3 justify-center my-10 shadow-md border bg-slate-50 rounded-2xl"
     (ngSubmit)="vertifyCodeSumit()"
       >
   
       <!-- email field -->
       <div class="rounded-md px-5 py-4">
         @let code = vertifyCode.get('resetCode');
         <label for="code" class="mb-2 capitalize text-lg font-medium text-black"
           >{{'forgetPassword.code'|translate }}</label
         >
         <input
           type="text"
           id="code"
           formControlName="resetCode"
           class="border-b-2 shadow-sm shadow-violet-300 text-violet-950 font-medium placeholder-opacity-50 placeholder-violet-950 text-sm rounded-lg w-full p-2.5"
           placeholder="{{'forgetPassword.codePlaceholder'|translate }}"
         />
   
         @if (code?.errors && code?.touched) {
         <div
           class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
           role="alert"
         >
           <svg
             class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
             aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor"
             viewBox="0 0 20 20"
           >
             <path
               d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
             />
           </svg>
           <span class="sr-only">Danger</span>
           <div>
             <ul class="mt-1.5  lineSpaces list-disc list-inside">
               @if (code?.getError("required")) {
               <li class="text-sm lineSpaces">{{'errors.code'|translate }}</li>
               } @else if (code?.getError("pattern")) {
               <li class=" text-sm lineSpaces">{{'errors.codeValid'|translate }}</li>
               }
             </ul>
           </div>
         </div>
         }
       </div>
   
       <div class="flex justify-end items-center my-auto gap-4 ">
         <button
         
           type="submit"
           class="bg-violet-700 rounded-full px-5 py-3 mb-6 m-auto font-medium text-center text-white"
         >
     
     
         @if (isLoading) {
           <i class="  fas fa-spin fa-spinner"></i>
         }
         
         {{'forgetPassword.sendBtn'|translate }}
         </button>
   
       </div>
     </form>
    }  
   @else if (steps==3) {
     <form id="resetPassword"
     [formGroup]="resetPassword"
     class="mx-auto flex w-2/3 flex-col pt-3 justify-center my-10 shadow-md border bg-slate-50 rounded-2xl"
   (ngSubmit)="NewPassordSumit()"
   
     >
   
     <!-- email field -->
     <div class="rounded-md px-5 py-4">
      @let email = vertifyEmail.get('email');
      <label for="email" class="mb-2 capitalize text-lg font-medium text-black"
        >{{'forgetPassword.email'|translate }}</label
      >
      <input
      readonly
        type="email"
        id="email"
        formControlName="email"
        class="border-b-2 shadow-sm shadow-violet-300 text-violet-950 font-medium placeholder-opacity-50 placeholder-violet-950 text-sm rounded-lg w-full p-2.5"
        placeholder="{{'forgetPassword.emailPlaceholder'|translate }}"
      />      
      @if (email?.errors && email?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5  lineSpaces list-disc list-inside">
            @if (email?.getError("required")) {
            <li class="text-sm lineSpaces">Email is required</li>
            } @else if (email?.getError("email")) {
            <li class=" text-sm lineSpaces">Invalid email address</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

      <!-- new Password -->
     <div class="rounded-md px-5 py-4">
       @let newPassword = resetPassword.get('newPassword');
       <label for="newPassword" class="mb-2 capitalize text-lg font-medium text-black"
         >{{'forgetPassword.NewPassword'|translate }}</label
       >
       <input
         type="password"
         id="newPassword"
         formControlName="newPassword"
         class="border-b-2 shadow-sm shadow-violet-300 text-violet-950 font-medium placeholder-opacity-50 placeholder-violet-950 text-sm rounded-lg w-full p-2.5"
         placeholder="{{'forgetPassword.NewPasswordPlaceholder'|translate }}"
       />
   
       @if (newPassword?.errors && newPassword?.touched) {
       <div
         class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
         role="alert"
       >
         <svg
           class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
           aria-hidden="true"
           xmlns="http://www.w3.org/2000/svg"
           fill="currentColor"
           viewBox="0 0 20 20"
         >
           <path
             d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
           />
         </svg>
         <span class="sr-only">Danger</span>
         <div>
           <ul class="mt-1.5  lineSpaces list-disc list-inside">
             @if (newPassword?.getError("required")) {
             <li class="text-sm lineSpaces">{{'forgetPassword.password'|translate }}</li>
             } @else if (newPassword?.getError("pattern")) {
               <li>
                {{'forgetPassword.passwordValidation'|translate }}
               </li>
             }
           </ul>
         </div>
       </div>
       }
     </div>
     
   
     <div class="flex justify-end items-center my-auto gap-4 ">
       <button
       
         type="submit"
         class="bg-violet-700 rounded-full px-5 py-3 mb-6 m-auto font-medium text-center text-white"
       >
   
   
       @if (isLoading) {
         <i class="  fas fa-spin fa-spinner"></i>
       }
       
       {{'forgetPassword.sendBtn'|translate }}
       </button>
   
     </div>
   </form>

   }

  </section>